<html lang="en">

<head>
    {{>header}}
    <script src="/js/bmicalc.js" defer></script>
</head>

<body class="vh-100 d-flex flex-column">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center"
        style="background-image: url('https://brand.assets.adidas.com/f_auto,q_auto,fl_lossy/capi/enUS/Images/2021/10/fw21-cycling-mental-health-header-d_221-792946.jpg'); height: 400px; background-size: cover; background-repeat: no-repeat;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto rounded">
            <h1 class="mb-3">BMI Calculator</h1>
            <div class="row"></div>
        </div>
    </header>
    <main class="container p-3 col-md-10 mx-auto">
        <section class="mx-auto text-center">
            <p>Input your details to the calculator below to see your current body mass index, and the range it falls within.</p>
            <div class="container d-flex flex-column flex-md-row justify-content-center gap-2">
                <div class="col-md-6 col-lg-4 border rounded bg-light p-2">
                    <h3 class="text-center mb-4">BMI (Body Mass Index) Calculator</h3>
                    <form id="calculator-form" class="mx-auto w-50">
                        <div class="form-group my-1">
                            <input type="number" class="form-control" id="age" placeholder="Age" required>
                        </div>
                        <div class="form-group my-1">
                            <input type="number" class="form-control" id="height" placeholder="Height (cm)" required>
                        </div>
                        <div class="form-group my-1">
                            <input type="number" class="form-control" id="weight" placeholder="Weight (kg)" required>
                        </div>
                        <button type="submit" class="btn btn-dark my-2 w-100">Calculate</button>
                    </form>
                </div>
                <div class="border rounded p-2 overflow-scroll bg-light" id="bmi" style="display: none;">
                        <h4 class="text-center mb-3">BMI (Body Mass Index)</h4>
                </div>
            </div>
        </section>
    </main>
    {{>footer}}
</body>

</html>