<html lang="en">

<head>
    {{>header}}
</head>

<body class="vh-100 d-flex flex-column">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center"
        style="background-image: url('https://brand.assets.adidas.com/f_auto,q_auto,fl_lossy/capi/enUS/Images/2021/10/fw21-cycling-mental-health-header-d_221-792946.jpg'); height: 400px; background-size: cover; background-repeat: no-repeat;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto rounded">
            <h1 class="mb-3">Guide to Fitness</h1>
            <div class="row"></div>
        </div>
    </header>
    <main class="container p-3 col-md-6 mx-auto">
        <section>
            <h2>Fitness Guide</h2>
            <h3>Welcome</h3>
            <p>Welcome to our Fitness guide. This guide will give you some general information on fitness, with an aim to help you keep in the best shape possible.
                Keeping up a high level of fitness has numerous benefits, including lowering of blood pressure, minimising the risk of many illnesses, and slowing down muscular aging.
                </p>
                <h3>Our Principles of Fitness</h3>
                <ul>
                    <li>
                        <b>Set fitness goals:</b> Setting goals for your fitness can help to motivate you and keep you on track. These could be goals such as 'do 30 minutes of cardio a day', or 'leg press 50kg'.
                    </li>
                    <li>
                        <b>Create a routine/plan:</b> A plan allows you to manage your fitness, to ensure that you're using your time efficiently and in the way that helps you achieve your goals.
                    </li>
                    <li>
                        <b>Rest/Recovery:</b> Although regular exercise is good for your health, overdoing it can have negative consequences. Take rest breaks and periods in between exercising, and make sure that your body feels ready when you start again.
                    </li>
                </ul>
                <h3>BMI (Body Mass Index)</h3>
                <p>A commonly used measure to check that you're within a healthy weight is BMI (Body Mass Index)</p>
                <p>BMI provides you with a category that indicates whether or not your weight is healthy. THis can be a useful reference when exercising, to make sure that you're staying healthy when doing so.</p>
                    <p>Visit our <a href="/user/fitness/calculator">BMI calculator</a> for more information on your personal body mass index.</p>
        </section>
    </main>
    {{>footer}}
</body>

</html>