<html lang="en">

<head>
    {{>header}}
</head>

<body class="h-100 d-flex flex-column">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center p-5"
        style="background-image: url('https://thumbs.dreamstime.com/b/idyllic-green-fields-vibrant-blue-sky-panoramic-landscape-vast-hills-fluffy-white-clouds-76383482.jpg'); background-size: cover; background-repeat: no-repeat; height: 400px;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto">
            <h1 class="mb-3">About Us</h1>
            <h4>Who we are and what we can provide to help you improve your health.</h4>
        </div>
    </header>
    <main class="container p-3">
        <section id="aboutInfo" class="border rounded p-3 col-md-10 mx-auto">
            <h2 class="text-center">Who are we?</h2>
            <div class="panel panel-default" id="aboutInfo">
                <div class="panel-body">
                    <p>We are Greenfield health, helping you to achieve your health and lifestyle goals by providing
                        online resources and information for: </p>
                    <ul>
                        <li>Nutrition and Diet</li>
                        <li>Fitness and Excercise</li>
                        <li>Lifestyle</li>
                    </ul>
                    <p>to help you to stay on top of your body, mind, and habits so that you can live healthier,
                        happier, and more worry free.</p>
                </div>
            </div>
            <h2>Our Features</h2>
            <p>As well as providing guides for each of the categories mentioned above, we also provide features that
                allow you to track your goals in an intuitive, structured way.</p>
            <p>We have three ways in which you can track your goals with us: </p>
            <h4>Line Chart Goal Tracker</h4>
            <p>We provide users with the ability to create custom line charts to track their goals. This is perfect for
                tracking and setting goals for metrics such as your weight, BMI, blood pressure,etc.</p>
            <h4>Progress Bar Goal Tracker</h4>
            <p>A progress tracker is great for cumulative goals that work towards a final target value, such as 'run 15
                miles in a month', or 'eat 35 pieces of fruit and vegetables this week'.</p>
            <p>Using our progress bar tracker, you'll be able to submit entries as you work towards your goal and track
                your progress as a percentage.</p>
            <h4>Goal List</h4>
            <p>You can use a goal list to set and tick off goals which may not include a unit of measurement, such as 'get fit for the summer', or 'exercise for a week'.</p>
            <p>Think of it like a to-do list for your health goals!</p>
            <h4>BMI (Body Mass Index) Calculator</h4>
            <p>As an additional feature, we have a BMI calculator, which will let you find out your current BMI, and the range that it falls in to.</p>
            <h4>Calorie Calculator</h4>
            <p>To aid you in your weight goals, we've included a calorie calculator. This provides you with information on how many calories you'll need to take in a day to maintain, gain or lose weight.</p>
            <p>This also calculates your BMR (Base Metabolic Rate), the amount of calories you burn at rest each day.</p>
        </section>
    </main>
    {{>footer}}
</body 
</html>