<html lang="en">
    <head>
    {{>header}}
    </head>
    <body class="h-100 d-flex flex-column">
    {{>nav}}
        <header class="text-center jumbotron bg-image d-flex align-items-center p-5" style="background-image: url('https://thumbs.dreamstime.com/b/idyllic-green-fields-vibrant-blue-sky-panoramic-landscape-vast-hills-fluffy-white-clouds-76383482.jpg'); background-size: cover; background-repeat: no-repeat; height: 400px;">
            <div class="p-4 bg-light bg-opacity-75 mx-auto">
                <h1 class="mb-3">About Us</h1>
                <h4>Who we are and what we can provide to help you improve your health.</h4>
            </div>
        </header>
        <main class="container p-3">
            <section id="aboutInfo" class="border rounded p-3 col-md-10 mx-auto">
            <h2 class="text-center">Who are we?</h2>
            <div class="panel panel-default" id="aboutInfo">
                <div class="panel-body"><p>We are Greenfield health, helping you to achieve your health and lifestyle goals by providing online resources and information for: </p>
                <ul>
                    <li>Nutrition and Diet</li>
                    <li>Fitness and Excercise</li>
                    <li>Lifestyle</li>
                </ul>
                <p>to help you to stay on top of your body, mind, and habits so that you can live healthier, happier, and more worry free.</p>
                </div>
            </div>
        </section>
        </main>
        {{>footer}}
    </body
</html>