<div class="row border rounded my-auto col-md-10 mx-auto bg-light">
  <div class="col-md-6">
    <img src="images/login.png" class="img-fluid" alt="Image" class="img-fluid" />
  </div>
  <div class="col-md-6 contents my-auto">
    <div class="row justify-content-center">
      <div class="col-md-8 p-3">
        <div class="mb-4">
          <h3 class="text-center">Log In</h3>
          <p class="mb-4">
            Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur
            adipisicing.
          </p>
        </div>
        <form action="#" method="post">
          <div class="form-group first">
            <label for="username">Email</label>
            <input type="text" class="form-control" id="username" />
          </div>
          <div class="form-group last mb-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <input
            type="submit"
            value="Log In"
            class="btn btn-block btn-dark w-100"
          />
          <span class="d-block text-left mx-auto text-center my-4 text-muted"
            >— or login with —</span
          >
          <div class="social-login mx-auto text-center d-flex flex-row gap-3 justify-content-center pb-4">
            <a href="#" class="facebook">
              <i class="fa-brands fa-facebook fa-2xl" style="color: black;"></i></span>
            </a>
            <a href="#" class="google">
              <span class="fa-brands fa-google fa-2xl" style="color: black;"></span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
