<nav
  class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark"
>
  <a class="navbar-brand mx-4" href="#">Greenfields</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-lg-auto ms-2">
      <li class="nav-item active">
        <a class="nav-link active" aria-current="page" href="#"
          >Home <span class="visually-hidden">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>
