<html lang="en">
  <head>
    {{>header}}
  </head>
  <body
    class="h-100 d-flex flex-column"
    style="background-image: url('images/pattern-bg.png')"
  >
    {{>nav}}
    <main class="container my-auto">
      {{>registerform}}
    </main>
    {{>footer}}
  </body>
</html>
