<html lang="en">

<head>
    {{>header}}
    <script src="/js/deletetracker.js" defer></script>
</head>

<body class="vh-100">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center"
        style="background-image: url('https://brand.assets.adidas.com/f_auto,q_auto,fl_lossy/capi/enUS/Images/2021/10/fw21-cycling-mental-health-header-d_221-792946.jpg'); height: 400px; background-size: cover; background-repeat: no-repeat;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto rounded">
            <h1 class="mb-3">Dashboard</h1>
            <h3>Welcome, {{name}}!</h3>
            <div class="row"></div>
        </div>
    </header>
    <main class="container p-3 vw-100">
        <section class="d-flex flex-column gap-2 justify-content-center align-items-lg-stretch align-items-center"
            id="sectionInfoCards">
            <div class="panel flex-fill d-flex flex-column p-3 border rounded gap-4 justify-content-center">
                <h4 class="text-center">Hello {{name}}!</h4>
                <div class="d-flex flex-row justify-content-center gap-4">
                    <div class="d-flex flex-column">
                        <h2 class="text-secondary text-center">{{goalsAchieved}}</h2>
                        <h6>Goals Achieved</h6>
                    </div>
                    <div class="d-flex flex-column">
                        <h2 class="text-secondary text-center">{{goalsOutstanding}}</h2>
                        <h6>Goals Outstanding</h6>
                    </div>
                </div>
                <small class="text-center"><a href='goals?category=All' class='text-dark'>View all Goals</a></small>
                <div id="welcome-text" class="mx-auto col-md-8 col-12">
                    <p class="lh-1">Welcome to the user dashboard. Here you'll find links to a lot of great resources to
                        help you in your Nutrition, Diet, Fitness and Lifestyle goals.</p>
                    <p class="lh-1">A key feature of our application is allowing you to track your health-related goals.
                        This is achieved by the creation of a goal tracker, which can either show as a line chart,
                        progress bar, or a 'Goal List', a to-do list for your goals.</p>
                    <div class="text-center">
                        <button class="btn btn-dark my-3" data-bs-toggle="modal"
                            data-bs-target="#create-tracker-modal">Create a new Goal Tracker</button>
                    </div>
                </div>
                <span class="mx-auto">{{>user/tracker/createtrackermodal}}</span>

            </div>
            <div class="d-flex flex-column flex-md-row gap-2">
                <div class="card flex-fill d-flex overflow-hidden">
                    <div class="bg-dark text-light p-3 text-center border-bottom">
                        <h5>Nutrition and Diet 🥗</h5>
                        </h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Looking for some tips and tricks to help you eat better and stay healthier? Visit our <a
                                href="nutrition-guide" class="black-link">Nutrition Guide!</a>
                        </p>
                        <p class="card-text">Want to know what you're eating? Head over to our
                            <a href="food-search" class="black-link">Food Search</a> to search and view nutrition, macro
                            and calorie
                            related
                            information.
                        </p>
                        <p class="card-text">We've also got a
                            <a href="bmi-calc" class="black-link">BMI Calculator</a> to help you stay on top of your
                            health.
                        </p>
                        {{#nutritionDietTrackers.length}}
                        <div class="d-flex flex-row justify-content-center gap-1">
                            <h6 class="text-center">Your Nutrition & Diet Goals</h6><small class="text-center"><a
                                    href='goals?category=Nutrition+and+Diet' class="black-link">(View all)</a></small>
                        </div>
                        {{/nutritionDietTrackers.length}}
                        {{#nutritionDietTrackers}}
                        <div class="card my-1 pb-2 text-center d-flex flex-column overflow-hidden">
                            <span class="w-100 bg-dark text-light">{{tracker.metric}}</span>
                            {{#achievedGoals.length}}<span>You've achieved {{achievedGoals.length}} goals for
                                {{tracker.metric}}! 🏆</span>{{/achievedGoals.length}}
                                {{#outstandingGoals.length}}<span>You've currently got {{outstandingGoals.length}} goals to
                                achieve! 💪</span>{{/outstandingGoals.length}}
                            {{^outstandingGoals}}<span>No goal currently set. Why not set one?
                                🙏</span>{{/outstandingGoals}}
                            <ul class="list-group list-group-horizontal mx-auto my-auto">
                                <li class="list-group-item"><small><a href="tracker?metric={{tracker.metric}}"
                                            class="black-link">Go to {{tracker.metric}}
                                            tracker</a></small></li>
                                <li class="list-group-item"><small><a href="javascript:void(0)" id="delete-tracker"
                                            class="text-danger" data-metric="{{tracker.metric}}">Delete
                                            Tracker</a></small></li>
                            </ul>
                        </div>
                        {{/nutritionDietTrackers}}
                    </div>
                </div>
                <div class="card flex-fill d-flex overflow-hidden">
                    <div class="bg-dark text-light p-3 text-center border-bottom">
                        <h5>Fitness 🤸‍♀️</h5>
                        </h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Looking for some tips and tricks to help you eat better and stay healthier? Visit our <a
                                href="weight-guide" class="black-link">Weight Guide!</a>
                        </p>
                        <p class="card-text">Want to know what you're eating? Head over to our
                            <a href="food-search" class="black-link">Food Search</a> to search and view nutrition, macro
                            and calorie
                            related
                            information.
                        </p>
                        {{#fitnessTrackers.length}}
                        <div class="d-flex flex-row justify-content-center gap-1">
                            <h6 class="text-center">Your Fitness Goals</h6><small class="text-center"><a
                                    href='goals?category=Fitness' class='text-dark black-link'>(View all)</a></small>
                        </div>
                        {{/fitnessTrackers.length}}
                        {{#fitnessTrackers}}
                        <div class="card my-1 pb-2 text-center d-flex flex-column overflow-hidden">
                            <span class="w-100 bg-dark text-light">{{tracker.metric}}</span>
                            {{#achievedGoals.length}}<span>You've achieved {{achievedGoals.length}} goals for
                                {{tracker.metric}}! 🏆</span>{{/achievedGoals.length}}
                                {{#outstandingGoals.length}}<span>You've currently got {{outstandingGoals.length}} goals to
                                achieve! 💪</span>{{/outstandingGoals.length}}
                            {{^outstandingGoals}}<span>No goal currently set. Why not set one?
                                🙏</span>{{/outstandingGoals}}
                            <ul class="list-group list-group-horizontal mx-auto my-auto">
                                <li class="list-group-item"><small><a href="tracker?metric={{tracker.metric}}"
                                            class="black-link">Go to {{tracker.metric}}
                                            tracker</a></small></li>
                                <li class="list-group-item"><small><a href="javascript:void(0)" id="delete-tracker"
                                            class="text-danger" data-metric="{{tracker.metric}}">Delete
                                            Tracker</a></small></li>
                            </ul>
                        </div>
                        {{/fitnessTrackers}}
                    </div>
                </div>
                <div class="card flex-fill d-flex overflow-hidden">
                    <div class="bg-dark text-light p-3 text-center border-bottom">
                        <h5>Lifestyle ☕</h5>
                        </h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center">
                            Looking for some tips and tricks to help you eat better and stay healthier? Visit our <a
                                href="weight-guide" class="black-link">Weight Guide!</a>
                        </p>
                        <p class="card-text">Want to know what you're eating? Head over to our
                            <a href="food-search" class="black-link">Food Search</a> to search and view nutrition, macro
                            and calorie
                            related
                            information.
                        </p>
                        {{#lifestyleTrackers.length}}
                        <div class="d-flex flex-row justify-content-center gap-1">
                            <h6 class="text-center">Your Lifestyle Goals</h6><small class="text-center"><a
                                    href='goals?category=Lifestyle' class='text-dark black-link'>(View all)</a></small>
                        </div>
                        {{/lifestyleTrackers.length}}
                        {{#lifestyleTrackers}}
                        <div class="card my-1 pb-2 text-center d-flex flex-column overflow-hidden">
                            <span class="w-100 bg-dark text-light">{{tracker.metric}}</span>
                            {{#achievedGoals.length}}<span>You've achieved {{achievedGoals.length}} goals for
                                {{tracker.metric}}! 🏆</span>{{/achievedGoals.length}}
                                {{#outstandingGoals.length}}<span>You've currently got {{outstandingGoals.length}} goals to
                                achieve! 💪</span>{{/outstandingGoals.length}}
                            {{^outstandingGoals}}<span>No goal currently set. Why not set one?
                                🙏</span>{{/outstandingGoals}}
                            <ul class="list-group list-group-horizontal mx-auto my-auto">
                                <li class="list-group-item"><small><a href="tracker?metric={{tracker.metric}}"
                                            class="black-link">Go to {{tracker.metric}}
                                            tracker</a></small></li>
                                <li class="list-group-item"><small><a href="javascript:void(0)" id="delete-tracker"
                                            class="text-danger" data-metric="{{tracker.metric}}">Delete
                                            Tracker</a></small></li>
                            </ul>
                        </div>
                        {{/lifestyleTrackers}}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{>footer}}
</body>

</html>