<html lang="en">

<head>
    {{>header}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script src="{{{path.join(__dirname, 'scripts', 'chartsubmission.js')}}}" defer></script>
</head>

<body class="min-vh-100 d-flex flex-column" style="background-image: url('../images/pattern-bg.png')">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center"
        style="background-image: url('https://brand.assets.adidas.com/f_auto,q_auto,fl_lossy/capi/enUS/Images/2021/10/fw21-cycling-mental-health-header-d_221-792946.jpg'); height: 250px; background-size: cover; background-repeat: no-repeat;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto rounded">
            <h1 class="mb-3">Weight Tracker</h1>
        </div>
    </header>
    <main class="container p-3 bg-light">
        <div class="d-flex flex-column flex-md-row justify-content-center gap-2">
            {{#data}}
            {{>chart}}
            {{/data}}
            {{^data}}
            <p class="text-center mx-auto p-5 my-5">Chart will show here after your first submission!</p>
            {{/data}}
            <div class="d-flex flex-column">
                <div class="border rounded p-2 mb-1">
                    <h4 class="text-center mb-3">Submit a new Weight</h4>
                    <form id="metric-submit-form" action="/user/metric/submit" method="post">
                        <input type="hidden" name="metric" value="Weight">
                        <div class="mb-3">
                            <input type="date" class="form-control" id="date-input" name="date" required>
                        </div>
                        <div class="mb-3">
                            <label for="metric-input" class="form-label">Weight</label>
                            <input type="number" class="form-control" id="metric-input" name="value" step="0.1"
                                required>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Submit</button>
                    </form>
                </div>
                <div class="border rounded p-2 mt-1">
                    <h4 class="text-center mb-3">Set a new target</h4>
                    <form id="metric-submit-form" action="/user/metric/submit" method="post">
                        <input type="hidden" name="metric" value="Weight">
                        <div class="mb-3">
                            <input type="date" class="form-control" id="date-input" name="date" required>
                        </div>
                        <div class="mb-3">
                            <label for="metric-input" class="form-label">Weight</label>
                            <input type="number" class="form-control" id="metric-input" name="value" step="0.1"
                                required>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </main>
    {{>footer}}
</body>

</html>