<html lang="en">

<head>
    {{>header}}
    <link rel="stylesheet" src="../css/goallistinput.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script src="/js/targetsubmission.js" defer></script>
    <script src="/js/goallist.js" defer></script>
</head>

<body class="min-vh-100 d-flex flex-column" style="background-image: url('../images/pattern-bg.png')">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center"
        style="background-image: url('https://brand.assets.adidas.com/f_auto,q_auto,fl_lossy/capi/enUS/Images/2021/10/fw21-cycling-mental-health-header-d_221-792946.jpg'); height: 250px; background-size: cover; background-repeat: no-repeat;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto rounded">
            <h1 class="mb-3">{{metric}} Tracker</h1>
        </div>
    </header>
    <main class="container p-3 bg-light col-md-7">
        <div class="d-flex flex-column justify-content-center gap-2">
            <div class="d-flex flex-column flex-md-row gap-2 justify-content-center">
                <div id="goal" class="border rounded p-2 flex-fill ">
                    <section class="text-center mb-3 mx-auto">
                        <h4>Current {{metric}} Goals</h4>
                        <div class="table-responsive rounded">
                            <table class="table table-striped text-center border">
                                <tbody>
                                    {{! One table row for each goal in list }}
                                    {{#goals}}
                                    <tr id="{{_id}}" name="goalId">
                                        <td>I will</td>
                                        <td>
                                            <input type="text" name="value" value="{{value}}"
                                                style="text-align: center; border: none; color:black; border-radius: 0; padding-bottom: 2px; background-color: transparent;"
                                                disabled required />
                                        </td>
                                        <td>by</td>
                                        <td><input type="text" id="goal-list-date" name="date" value="{{date}}"
                                                onfocus="(this.type = 'date')"
                                                style="text-align: center; color:black; border: none; border-radius: 0; padding-bottom: 2px; background-color: transparent;"
                                                disabled required></td>
                                        <td>
                                            <div class="d-flex flex-row gap-1 justify-content-center">
                                                <span class="mark-complete" data-metric="{{_id}}" class="text-success"
                                                    style="cursor: pointer" alt="Mark as Complete">&#10004;</span>
                                                <span class="edit-goal" data-metric="{{_id}}" class="text-primary"
                                                    style="cursor: pointer" alt="Edit Goal">&#x270E;</span>
                                                <span class="delete-goal" data-metric="{{_id}}" class="text-danger"
                                                    style="cursor: pointer" alt="Delete Goal">&#10006;</span>
                                                {{! Hidden, these show when user is attempting to edit a goal }}
                                                <span class="save-goal" data-metric="{{_id}}" class="text-primary"
                                                    style="cursor: pointer; display: none;"
                                                    alt="Save Goal">&#128190;</span>
                                                <span class="cancel-edit" data-metric="{{_id}}" class="text-danger"
                                                    style="cursor: pointer; display: none;"
                                                    alt="Cancel Editing Goal">&#10006;</span>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/goals}}
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>

                <section class="border rounded p-2" style="min-width: 25%">
                    <h4 class="text-center mb-3">Set a new goal</h4>
                    <form id="metric-goal-form">
                        <input type="hidden" name="metric" id="goal-metric" value="{{metric}}">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="goal-value" name="value" step="0.1"
                                placeholder="I will..." required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="goal-date" name="date" placeholder="By"
                                onfocus="(this.type = 'date')" required>
                        </div>
                        <button type="submit" class="btn btn-dark w-100">Submit</button>
                    </form>
                </section>
            </div>
            <div class="border rounded p-2 flex-fill text-center">
                <h4>Goals Achieved &#127942;</h4>
                <div class="table-responsive">
                <table class="table table-striped text-center mx-auto">
                    <thead class="table-dark">
                        <tr>
                            <th>Goal</th>
                            <th>Type</th>
                            <th>Due Date</th>
                            <th>Date Achieved</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#goalsAchieved}}
                        <tr>
                            <td>{{value}} {{#units}}({{units}}){{/units}}</td>
                            <td>{{metric}}</td>
                            <th>{{date}}</th>
                            <td>Achieved on {{achievedDate}} 🏆</td>
                        </tr>
                        {{/goalsAchieved}}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </main>
    {{>footer}}
</body>

</html>