<html lang="en">

<head>
    {{>header}}
</head>

<body class="vh-100 d-flex flex-column">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center"
        style="background-image: url('https://brand.assets.adidas.com/f_auto,q_auto,fl_lossy/capi/enUS/Images/2021/10/fw21-cycling-mental-health-header-d_221-792946.jpg'); height: 400px; background-size: cover; background-repeat: no-repeat;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto rounded">
            <h1 class="mb-3">Guide to Lifestyle</h1>
            <div class="row"></div>
        </div>
    </header>
    <main class="container p-3 col-md-6 mx-auto">
        <section>
            <h2>Lifestyle Guide</h2>
            <h3>Welcome</h3>
            <p>Welcome to our Lifestyle guide. This guide will give you some general information on a healthy lifestyle,
                with an aim to help you mentally and physically healthy.
                As well as taking care of nutrition, diet, and fitness, living a healthy lifestyle is also important.
                A healthy lifestyle can help improve your mood, mental health and is linked to several health benefits.
            </p>
            <h3>Our Principles of a Healthy Lifestyle</h3>
            <ul>
                <li>
                    <b>Exercise regularly:</b> Regular exercise is a core component of maintaining a healthy lifestyle.
                    Exercising regularly improves your mood and physical health, can lower your blood pressure, and
                    promotes overall well-being.
                </li>
                <li>
                    <b>Get enough sleep:</b> Sleep allows your body to rejuvenate, and rests your mind. AIm for 7-9
                    hours of sleep a night to maximise the benefits of a good night's rest.
                </li>
                <li>
                    <b>Stay hydrated:</b> Keeping hydrated will help to ensure that your body and mind operate at peak
                    performance, and will aid your digestion.
                </li>
                <li>
                    <b>Be mindful:</b> Mindfulness is the practice of being present in the moment, and being aware of
                    your thoughts and emotions. Achieving better mindfulness can be aided with techniques such as
                    meditation and journaling.
                </li>
                <li>
                    <b>Take care of your mental health:</b> Your mental health is equally as important as your physical
                    health. Remember to take time for self-care, and surround yourself with supportive people.
                </li>
            </ul>
            <p>Our Goal List tracker is a good way of setting some personal lifestyle goals and keeping track of them.
                Visit the <a href="/user/">Dashboard</a> and hit the 'Create a new Goal Tracker' button to try it out!</p>
        </section>
    </main>
    {{>footer}}
</body>

</html>