<html lang="en">

<head>
    {{>header}}
</head>

<body class="vh-100 d-flex flex-column">
    {{>nav}}
    <header class="text-center jumbotron bg-image d-flex align-items-center"
        style="background-image: url('https://brand.assets.adidas.com/f_auto,q_auto,fl_lossy/capi/enUS/Images/2021/10/fw21-cycling-mental-health-header-d_221-792946.jpg'); height: 400px; background-size: cover; background-repeat: no-repeat;">
        <div class="p-4 bg-light bg-opacity-75 mx-auto rounded">
            <h1 class="mb-3">Guide to Nutrition & Diet</h1>
            <div class="row"></div>
        </div>
    </header>
    <main class="container p-3 col-md-6 mx-auto">
        <section>
            <h2>Nutrition & Diet Guide</h2>
            <h3>Welcome</h3>
            <p>Welcome to our Nutrition and Diet guide.
                This guide will give you some general nutrition and diet information, with an aim to help you in making
                heathy choices and maintain a balanced diet.
                A nutritious and healthy diet can help you stay in shape, at peak athletic performance, and prevent or
                minimise the risk of numerous health conditions.</p>
                <h3>Our Principles of Nutrition</h3>
                <ul>
                    <li>
                        <b>Keep a balanced diet:</b> This means eating a good variety of unprocessed foods, to ensure that you're meeting all your daily needs for vitamins, minerals, and getting a good macro balance.
                    </li>
                    <li>
                        <b>Eat fruit and vegetables:</b> Fruit and vegetables are a main source of various vitamins and minerals such as Vitamin C and potassium.
                        They're also a great source of fibre, which aids your digestion.
                    </li>
                    <li>
                        <b>Stay hydrated:</b> Keeping hydrated will help to ensure that your body and mind operate at peak performance, and will aid your digestion.
                    </li>
                </ul>
                <h3>Macros & Calories</h3>
                <h4>Macros</h4>
                <p>Macros are the 3 main components of your food: carbohydrates, proteins, and fats.
                    Your body needs all of these things, but in different quantities depending on your personal physiology.</p>
                    <p>It's always a good idea to understand how much of each macro your body needs on a daily basis, and adjust your diet accordingly. </p>
                    <h4>Calories</h4>
                    <p>Taking in the right amount of calories a day is important to ensure that our body can perform vital functions and regenerate. However, we may be looking to lose or gain weight.</p>
                    <p>In order to achieve this, calories taken in each day must be in excess (gaining weight) or deficit (losing weight) of your total calories burned.</p>
                    <p>Calories are burned through exercise, and your body burns a certain amount at rest as well. </p>
                    <p>Visit our <a href="/user/nutrition/calculator">Calorie Calculator</a> for more information on your personal calorie needs!</p>
        </section>
    </main>
    {{>footer}}
</body>

</html>